---
layout: default
---

<div class="header-gallery container">
    <img src="assets/images/galeria.png">
    <hr class="featurette-divider">
</div>

<div class="set-gallery content-fluid">
    <div class="content-gallery row row-cols-1 row-cols-md-3">
        {% for file in site.static_files %}
            {% if file.image %}
        <a target="_blank" href="{{ site.baseurl }}{{ file.path }}">
            <div class="images-gallery col">
                <img src="{{ site.baseurl }}{{ file.path }}">
            </div>
        </a>
            {% endif %}
        {% endfor %}
    </div>
</div>
