
    <!-- Portfolio Grid Section -->
    <section class="section-carta" id="menu">
        <div class="container portfolio-flex-grid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Carta El Maná</h2>
                    <hr class="flamingo-black">
                </div>
            </div>
            <div class="portfolio-flex-row">

                <div class="portfolio-flex-item portfolio-item">
                    <a href="{{ site.baseurl }}{% link beers.html %}" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/beers.jpg" class="img-responsive menu-img" alt="beers">
                        <span class="img-title-menu">Cervezas Artesanas</span>
                    </a>
                </div>

                <div class="portfolio-flex-item portfolio-item">
                    <a href="{{ site.baseurl }}{% link cocktails.html %}" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/cocktails.jpg" class="img-responsive menu-img" alt="cocktails">
                        <span class="img-title-menu">Cócteles</span>
                    </a>
                </div>

                <div class="portfolio-flex-item portfolio-item">
                    <a href="{{ site.baseurl }}{% link wines.html %}" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/wines.jpg" class="img-responsive menu-img" alt="wines">
                        <span class="img-title-menu">Vinos</span>
                    </a>
                </div>

            </div>
        </div>
    </section>