<!-- Portfolio Grid Section -->

<section class="section-carta" id="menu">
    <div class="container">

        <div class="row d-flex align-items-center">
            <h2 class="text-center">Carta El Maná</h2>
            <hr class="flamingo-black">

            <div class="col-sm-12 col-md-6">

                <div class="card mb-4">
                    <a href="{{ '/beers/' | relative_url }}" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ '/img/portfolio/beers.jpg' | relative_url }}" class="img-responsive menu-img"
                             alt="beers">
                        <span class="img-title-menu">Cervezas Artesanas</span>
                    </a>
                </div>

            </div>

            <div class="col-sm-12 col-md-6">
                <div class="card">
                    <a href="{{ '/cocktails/' | relative_url }}" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ '/img/portfolio/cocktails.jpg' | relative_url }}" class="img-responsive menu-img"
                             alt="cocktails">
                        <span class="img-title-menu">Cócteles</span>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>