 <!-- Contact Section -->
    <section id="contact">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contáctanos</h2>
                    <hr class="flamingo-black">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3205.725565535561!2d-4.622776320225892!3d36.53661470784788!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd72e26b63f944cb%3A0x40fee719f71700e0!2sCalle%20Castillo%2C%207%2C%2029640%20Fuengirola%2C%20M%C3%A1laga!5e0!3m2!1ses!2ses!4v1598354027779!5m2!1ses!2ses" width="100%" height="450px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>

        <div class="container-fluid main-contact">
            <div class="row row-cols-1 row-cols-md-2">
                <div class="col-sm-6 mb-4">
                    <img id="img-contact" src="img/disco-stu.svg" width="150">
                    <h3 class="mt-3">¿Tienes alguna duda? <br>Contactanos!</h3>
                    <p>Llámanos al 633 32 74 44 o mandanos un correo al <a href="#">elmanadefuengirola@gmail.com</a><br>También
                    atendemos WhatsApp!
                        <span>
                            <img class="ml-2" src="img/whatsapp.svg" height="30" width="30" style="line-height: 2;">
                        </span>
                    </p>
                </div>

                <div class="col-sm-6 mb-4">
                    <img id="img-reservation" src="img/disco-stu.svg" width="150">
                    <h3 class="mt-3">¿Quieres reservar?</h3>
                    <p>Para haceros más cómoda la llegada y estancia en El Maná, os brindamos la posibilidad de reservar
                    mesa en tu lugar favorito del local.
                    <br>No esperes, llama!</p>
                </div>
            </div>
        </div>
    </section>
