<!-- Sorteos Section -->
<section class="section-events" id="events">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Eventos Mensuales</h2>
                <hr class="flamingo-white">
            </div>
        </div>
    </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <div class="card-event" style="max-width: 40rem;">
                        <div class="card-body text-primary">
                            <h5 class="card-title">Sorteos Mensuales</h5>
                            <p class="card-text">Todos los meses realizamos sorteos mensuales en los que podéis
                                participar. Para
                                ello solo tienes que echarle un vistazo a nuestras redes sociales
                                como <a href="https://www.instagram.com/elmanafuengirola/" class="link-color-instagram">Instagram</a>
                                y <a
                                        href="https://www.facebook.com/ElManaFuengirola/" class="link-color-facebook">Facebook</a>,
                                dónde normalmente son
                                publicados.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-3">
                    <div class="card-event" style="max-width: 40rem;">
                        <div class="card-body text-primary">
                            <h5 class="card-title">Productos Nuevos</h5>
                            <p class="card-text">En El Maná queremos lo mejor para nuestros clientes. Ofrecemos una gran
                                variedad de productos nuevos cada mes.
                                ¿Quieres saber que productos nuevos tenemos? Echale un vistazo a nuestras redes sociales
                                como <a href="https://www.instagram.com/elmanafuengirola/" class="link-color-instagram">Instagram</a>
                                y <a
                                        href="https://www.facebook.com/ElManaFuengirola/" class="link-color-facebook">Facebook</a>,
                                dónde normalmente son
                                publicados.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-3">
                    <div class="card-event" style="max-width: 40rem;">
                        <div class="card-body text-primary">
                            <h5 class="card-title">Porras de Fútbol</h5>
                            <p class="card-text">Ahora puedes apostar en las porras de fútbol. Ven a El Maná y disfruta viendo el fútbol en compañia de amigos y tu pinta, la más fria!
                                Si ganas, además de dinero, saldrás en nuestro ranking de apuestas y publicaremos una fotito en nuestras redes sociales de <a href="https://www.instagram.com/elmanafuengirola/" class="link-color-instagram">Instagram</a>
                                y <a href="https://www.facebook.com/ElManaFuengirola/" class="link-color-facebook">Facebook.</a></p>
                                </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-3">
                    <div class="card-event" style="max-width: 40rem;">
                        <div class="card-body text-primary">
                            <h5 class="card-title">Barril Pinchado</h5>
                            <p class="card-text">Nuestro barril pinchado de Estrella Galicia nunca falla! Pero también os damos la oportunidad de probar otros barriles nuevos que nos llegan cada mes, ¿Quiéres saber cuál tenemos esta semana?
                                Ven, El Maná te espera, pregunta y disfruta de tu cerveza, la más fria!
                                </p>
                        </div>
                    </div>
                </div>

            </div>

    </div>

</section>
