<footer class="footer">
        <div class="container ">
            <hr style="background-color: #8FD2CA;">
            <div class="row">
                <section class="col-sm-6">
                    <h3 id="hours">Horario</h3><br>
                    <hr style="background-color: #8FD2CA; position: relative; top: -40px;">
                    <h5 class="text-center text-white">Lunes-Domingos: 18:00 - 1:00</h5><br>
                </section>

                <section class="col-sm-6">
                    <h3 id="address">Dirección</h3>
                    <hr style="background-color: #8FD2CA; position: relative; top: -8px;">
                    <br>
                    <h5 class="text-center text-white">Calle Castillo, 7, 29640 Fuengirola, Málaga
                        <span class="material-icons" style="font-size: 25px; color: red;">location_on</span>
                    </h5>
                </section>
            </div>
            <div class="row">
                <section class="col-sm-12">
                    <h5 class="text-center text-white">633 32 74 44<span class="material-icons mr-1"
                                                                         style="font-size: 20px; color: #8FD2CA;">phone</span>
                    </h5>
                    <h5 class="text-center text-white">elmanadefuengirola@gmail.com<span class="material-icons mr-1" style="font-size: 20px; color: #8FD2CA;">email</span></h5>
                </section>
            </div>
        </div>


        <div class="social-buttons list-group-horizontal visible" role="group" aria-label="">
            <a href="https://www.facebook.com/ElManaFuengirola" class="facebook"><img src="assets/images/facebook.svg" height="35" width="35" class="rounded-circle "></a>
            <a href="https://www.instagram.com/elmanafuengirola/" class="instagram"><img src="assets/images/instagram.svg" height="35" width="35" class="rounded-circle"></a>
            <a href="https://www.tripadvisor.es/Restaurant_Review-g315915-d20471600-Reviews-El_Mana-Fuengirola_Costa_del_Sol_Province_of_Malaga_Andalucia.html" class="tripadvisor"><img src="assets/images/tripadvisor-fondo.svg" height="35" width="35" class="rounded-circle"></a>
            <a href="contact.html" class="whatsapp"><img src="assets/images/whatsapp.svg" height="35" width="35" class="rounded-circle"></a>
        </div>


        <hr style="background-color: #8FD2CA;">
        <div class="text-center" style="color: white;">&copy; Copyright El Maná 2020. Creado por yaniramartindev.com
        </div>
    </footer>
