<footer class="footer">
        <div class="container ">
            <hr style="background-color: #8FD2CA;">
            <div class="row">
                <section class="col-sm-6">
                    <h3 id="hours">Horario</h3><br>
                    <hr style="background-color: #8FD2CA; position: relative; top: -40px;">
                    <h5 class="text-center text-white">Lunes-Domingos: 18:00 - 1:00</h5><br>
                </section>

                <section class="col-sm-6">
                    <h3 id="address">Dirección</h3>
                    <hr style="background-color: #8FD2CA; position: relative; top: -8px;">
                    <br>
                    <h5 class="text-center text-white">Calle Castillo, 7, 29640 Fuengirola, Málaga</h5>
                </section>
            </div>
            <div class="row">
                <section class="col-sm-12">
                    <h5 class="text-center text-white">633 32 74 44<span class="material-icons mr-1"
                                                                         style="font-size: 20px; color: #8FD2CA;">phone</span>
                    </h5>
                    <h5 class="text-center text-white">elmanadefuengirola@gmail.com<span class="material-icons mr-1"
                                                                                         style="font-size: 20px; color: #8FD2CA;">email</span>
                    </h5>
                </section>
            </div>
        </div>
        <hr style="background-color: #8FD2CA;">
        <div class="text-center" style="color: white;">&copy; Copyright El Maná 2020. Creado por yaniramartindev.com
        </div>
    </footer>