<!-- Sorteos Section -->
<section class="section-sorteos" id="sorteos">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Sorteos mensuales El Maná</h2>
                <hr class="flamingo-black">
            </div>
        </div>

        <div class="card-sorteo" style="max-width: 50rem;">
            <div class="card-body text-primary">
                <h5 class="card-title">Sorteos Mensuales</h5>
                <p class="card-text">Todos los meses realizamos sorteos mensuales en los que podéis participar. Para
                    ello solo tienes que echarle un vistazo a nuestras redes sociales
                    como <a href="https://www.instagram.com/elmanafuengirola/">Instagram</a> y <a
                            href="https://www.facebook.com/ElManaFuengirola/">Facebook</a>, dónde normalmente son
                    publicados.</p>
            </div>
        </div>
    </div>

</section>
