/*HEADER*/

body {
    font-family: 'DM Serif Display', serif;
}

.navbar {
    background-color: black;
}

#logo {
    opacity: 0.8;
}

#title-index {
    font-size: 27px;
}

#sub-title {
    font-size: 18px;
}

#navbarCollapse {
    font-size: 20px;
    margin-right: 50px;
}

li a:hover {
  background-color: grey;
}

/*END HEADER*/




/*MAIN CONTENT*/

#carouselExampleIndicators{
    padding-bottom: 20px;
}

.position-content {
    text-align: center;
}

.button2 {
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button2:hover {
    height: 40px;
    width: 40px;
    background-size: 60px;
    opacity: 0.5;
    width: 105px;
}

.main-contact {
    margin-top: 200px;
    margin-bottom: 50px;
    text-align: center;
}

/*about-us*/
.pub-about-us {
    margin-top: 50px;
    margin-bottom: 50px;
}

.image-about-us {
    box-shadow: 1px 1px 2px black, 0 0 20px black, 0 0 5px darkblue;
}

.description-about-us {
    margin-top: 50px;
    text-align: center;
}
/*about-us*/

/*gallery*/
.header-gallery {
    margin-top: 200px;
    text-align: center;
}

.images-gallery:hover {
    border: 3px solid #E889F0;
}

.content-gallery {
    padding-right: 70px;
    padding-left: 70px;
}

.images-gallery img {
    margin-bottom: 20px;
    margin-top: 20px;
    height: auto;
    width: 100%;
}

@supports(object-fit: cover){
    .images-gallery img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
/*end gallery*/

/*menu*/

.banner-carta {
    margin-top: 180px;
    margin-bottom: 30px;
    height: auto;
    width: 1890px;
    margin-left: 5px;
}

.title-menu {
    position: absolute;
    top: 230px;
    left: 800px;
    font-size: 50px;
}

.pub-menu {
    margin-top: 200px;
    text-align: center;
}

.carta {
    height: 550px;
}

@media only screen and (max-width: 600px) {
  #img-contact, #img-reservation {
    width: 200px;
  }

  .pub-menu img {
    width: 300px;
    text-align: center;
  }

  .pub-about-us {
    width: 300px;
    text-align: center;
  }

  .header-gallery img {
    width: 300px;
  }

  .set-gallery {
    width: 400px;
    text-align: center;
   }

  .position-content img {
    width: 300px;
    height: 250px;
  }

  .position-content .img-disco {
    width: 200px;
    height: 200px;
  }

  iframe {
    width: 300px;
  }
}

/*end menu*/

.featurette-divider {
    background-color: #752CB2;
    height: 1px;
}

/*   .circle-beers { */
/*     box-shadow: 0 0 20px #BDB78B; */
/*   } */

/*   .circle-cocktails { */
/*     box-shadow: 0 0 20px #F3A4EE; */
/*   } */

/*   .circle-wines { */
/*     box-shadow: 0 0 20px #A1E0D0; */
/*   } */

/*END MAIN CONTENT*/



/* FOOTER */
.footer {
  padding-top: 35px;
  object-fit: cover;
  margin-top: 100px;
  background-color: #404040;
  background-size: cover;
  background-attachment: fixed;
  background-color: black;
}


#hours, #address {
  line-height: 2;
  color: #F3A4EE;
  text-align: center;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  font-size: .8em;
  line-height: 1.8;
}

/* END FOOTER */


/*SOCIAL MEDIA ICONS*/

.social-buttons {
   margin-top: 20px;
   text-align:center;
}

.facebook {
    width: 40px;
}

.instagram {
    width: 40px;
}

.tripadvisor {
    width: 40px;
}

.whatsapp {
    width: 40px;
}

/*END SOCIAL MEDIA ICONS*/
