/*HEADER*/

body {
    font-family: 'DM Serif Display', serif;
}

.navbar {
    background-color: black;
    background-image: linear-gradient(to right, black , grey);
}

#logo {
    opacity: 0.8;
}

#title-index {
    font-size: 27px;
}

#sub-title {
    font-size: 18px;
}

#navbarCollapse {
    font-size: 20px;
    margin-right: 50px;
}

/*END HEADER*/




/*MAIN CONTENT*/

#carouselExampleIndicators{
    padding-bottom: 20px;
}

.three-elements {
    text-align: center;
}

.button2 {
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button2:hover {
    height: 40px;
    width: 40px;
    background-size: 60px;
    opacity: 0.5;
    width: 105px;
}

.cicle-beers {
    box-shadow: 0 0 20px;
}

.cicle-cocktails {
    box-shadow: 0 0 20px;
}

.cicle-wines {
    box-shadow: 0 0 20px;
}

.main-contact {
    margin-top: 200px;
    margin-bottom: 50px;
    text-align: center;
}

/*about-us*/
.pub-about-us {
    margin-top: 200px;
    margin-bottom: 50px;
}

.title-about-us {
    margin-left: 50px;
}

.image-about-us {
    margin-left: 400px;
    box-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px darkblue;
}

.description-about-us {
    margin-left: 50px;
    margin-top: 50px;
}
/*about-us*/

/*gallery*/
.pub-gallery {
    margin-top: 200px;
    text-align: center;
}

.images-gallery:hover {
    border: 3px solid #E889F0;
}

.title-gallery {
    margin-bottom: 40px;
    margin-top: 40px;
}

.content-gallery {
    padding-right: 70px;
    padding-left: 70px;
}

.images-gallery img {
    margin-bottom: 20px;
    margin-top: 20px;
    height: auto;
    width: 100%;
}

@supports(object-fit: cover){
    .images-gallery img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
/*end gallery*/

/*menu*/

.banner-carta {
    margin-top: 180px;
    margin-bottom: 30px;
    height: auto;
    width: 1890px;
    margin-left: 5px;
}

.title-menu {
    position: absolute;
    top: 230px;
    left: 800px;
    font-size: 50px;
}

.carta {
    width: 920px;
    margin-bottom: 30px;
}

/*end menu*/


/*END MAIN CONTENT*/




/* FOOTER */
.footer {
  padding-top: 35px;
  padding-bottom: 30px;
  margin-bottom: 0px;
  margin-top: 100px;
  background-color: #404040;
  background-size: cover;
  background-attachment: fixed;
  background-color: black;
  background-image: linear-gradient(to left, black , grey);
}

.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
  color: white;
  text-align: center;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  font-size: .8em;
  line-height: 1.8;
}

/* END FOOTER */


/*SOCIAL MEDIA ICONS*/

.social-buttons {
   margin-top: 20px;
   text-align:center;
}

.facebook {
    width: 40px;
}

.instagram {
    width: 40px;
}

.tripadvisor {
    width: 40px;
}

.whatsapp {
    width: 40px;
}

/*END SOCIAL MEDIA ICONS*/
