/*HEADER*/

body {
    font-family: 'DM Serif Display', serif;
}

.navbar {
    background-color: black;
    background-image: linear-gradient(to right, black , grey);
}

#logo {
    opacity: 0.8;
}

#title-index {
    font-size: 27px;
}

#sub-title {
    font-size: 18px;
}

#navbarCollapse {
    font-size: 20px;
    margin-right: 50px;
}

/*END HEADER*/




/*MAIN CONTENT*/

#carouselExampleIndicators{
    padding-bottom: 20px;
}

.three-elements {
    text-align: center;
}

.button1:hover {
    height: 40px;
    width: 40px;
    background-size: 60px;
    opacity: 0.5;
    transition: ease 500ms;
    margin-left: -20px;
    width: 105px;
}

.button2:hover {
    height: 40px;
    width: 40px;
    background-size: 60px;
    opacity: 0.5;
    transition: ease 500ms;
    margin-left: -20px;
    width: 105px;
}

.button3:hover {
    height: 40px;
    width: 40px;
    background-size: 60px;
    opacity: 0.5;
    transition: ease 500ms;
    margin-left: -20px;
    width: 105px;
}


.main-contact {
    margin-top: 200px;
    margin-bottom: 50px;
    text-align: center;
}

.pub-about-us {
    margin-top: 200px;
    text-align: center;
}

/*gallery*/
.pub-gallery {
    margin-top: 200px;
    text-align: center;
}

.images-gallery:hover {
    border: 3px solid #E889F0;
}

.title-gallery {
    margin-bottom: 40px;
    margin-top: 40px;
}

.content-gallery {
    padding-right: 70px;
    padding-left: 70px;
}

.images-gallery img {
    margin-bottom: 20px;
    margin-top: 20px;
    object-fit: cover;
    height: auto;
    width: 100%;
}
/*end gallery*/

/*menu*/

.pub-menu {
    margin-top: 200px;
    text-align: center;
}

.title-menu {
    margin-bottom: 40px;
    margin-top: 40px;
}


.images-menu img {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 70px;
    object-fit: cover;
    height: auto;
    width: 800px;
    text-align: center;
}
/*end menu*/


/*END MAIN CONTENT*/




/* FOOTER */
.footer {
  padding-top: 35px;
  padding-bottom: 30px;
  margin-bottom: 0px;
  margin-top: 100px;
  background-color: #404040;
  background-size: cover;
  background-attachment: fixed;
  background-color: black;
  background-image: linear-gradient(to left, black , grey);
}

.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
  color: white;
  text-align: center;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  font-size: .8em;
  line-height: 1.8;
}

/* END FOOTER */


/*SOCIAL MEDIA ICONS*/
.social-buttoms {
    margin-left: 500px;
}


.social-buttons {
    top: 30%;
    height: 200px;
    width: 60px;
    position: fixed;
    right: 0;
}

.facebook {
    height: 50px;
    width: 50px;
    transition: ease 500ms;
    background-size: 50px;
    opacity: 1;
}

.facebook:hover {
    height: 50px;
    width: 50px;
    background-size: 60px;
    opacity: 0.5;
    transition: ease 500ms;
    margin-left: -20px;
    width: 70px;
}

.instagram {
    height: 50px;
    width: 50px;
    transition: ease 500ms;
    background-size: 50px;
    opacity: 1;
}

.instagram:hover {
    height: 50px;
    width: 50px;
    background-size: 60px;
    opacity: 0.5;
    transition: ease 500ms;
    margin-left: -20px;
    width: 70px;
}

.tripadvisor {
    height: 50px;
    width: 50px;
    transition: ease 500ms;
    background-size: 50px;
    opacity: 1;
}

.tripadvisor:hover {
    height: 50px;
    width: 50px;
    background-size: 60px;
    opacity: 0.5;
    transition: ease 500ms;
    margin-left: -20px;
    width: 70px;
}
/*END SOCIAL MEDIA ICONS*/
